@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }

}

@media (max-width: 1600px) {}

@media (max-width:1440px) {
    .section_heading h2 {
        font-size: 36px;
        line-height: 52px;
    }

    #faq_area::after {
        color: " ";
        height: 0;
        width: 0;
        opacity: 0;
        display: none;
    }

    .faq-text {
        padding-right: 0;
    }

    .main-navbar .navbar ul {
        padding-left: 20px;
    }

    .main-navbar::before {
        width: 336px;
    }

    .banner_slider_content h2 {
        padding: 26px 0 33px 0;
        font-size: 66px;
        line-height: 88px;
    }

    .home_blog_content h4 a {
        font-size: 20px;
        line-height: 24px;
    }

    .work_content h4 {
        font-size: 20px;
        line-height: 24px;
    }

    .news_date_area {
        right: 0px;
        bottom: 0px;
    }

    .background_bg {
        padding: 90px 0px 120px 0;
    }

    .banner-slide {
        padding: 200px 0px 250px 0;
      }

      .topbar_list li:first-child {
        display: none;
    }
}

@media (max-width: 1199px) {
    .banner_slider_content h2 {
        font-size: 48px;
        line-height: 64px;
    }

    .list_content_box h4 {
        font-size: 20px;
    }

    .project-card-img .overlay-content p {
        display: none;
    }

    .service-content h4 a {
        font-size: 20px;
    }

    .counter_text h2 {
        font-size: 36px;
    }

    .banner_two_content_box h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .home_two_heading_style h2 {
        font-size: 36px;
        line-height: 44px;
    }

    .banner-slide::before {
        position: absolute;
        left: 37%;
        top: 23%;
        content: "";
        z-index: 9;
        width: 50%;
    }

    .single_footer_end {
        padding-right: 0px;
    }

    .list_content h4 {
        line-height: 34px;
        font-size: 19px;
    }

    .home_two_news_content h5 {
        font-size: 16px;
    }

    .post_replay {
        text-align: end;
        margin-top: 0px;
    }

    .choose_icon {
        height: 70px;
        width: 70px;
    }

    #about_faq_area{
        padding: 50px 0;
    }

    .project_details_item h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .team_details_social {
        padding-bottom: 30px;
    }

}

@media (max-width: 992px) {
    .work_card_two {
        margin-top: 0px;
    }

    .work_shape img {
        display: none;
    }

    .work_process_inner {
        background-image: none;
    }

    .about-left_wrapper {
        margin-bottom: 30px;
    }

    .faq_left {
        margin-bottom: 20px;
    }

    .counter_item {
        margin-bottom: 60px;
    }

    .home_blog_card {
        margin-bottom: 30px;
    }

    .project-card-img .overlay-content p {
        display: block;
    }

    .faq-text {
        padding-right: 0px;
    }

    .banner_two_content_box p {
        width: 70%;
    }

    #home_two_service_area.slider_btn_style_two .owl-theme .owl-nav {
        left: 35%;
        bottom: -42px;
    }

    .home_two_service_slider {
        padding: 26px 0;
    }

    .display_img {
        display: none;
    }

    .quote_area_wrapper {
        margin-bottom: 40px;
    }

    .pricing-item {
        margin-bottom: 30px;
    }

    #home_two_testimonial_area.slider_btn_style_two .owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        left: 1%;
        bottom: -67px;
        width: 140px;
    }

    .home_two_news_card {
        margin-bottom: 30px;
    }

    .copyright_left {
        text-align: center;
        padding-bottom: 12px;
    }

    .copyright_right ul {
        justify-content: center;
    }

    .footer_about_area {
        margin-bottom: 30px;
    }

    .service_details_help::after {
        background: transparent;
    }

    .service_sidebar_download {
        text-align: center;
    }

    .service_sidebar_wrapper {
        margin-top: 30px;
    }

    .project_details_item {
        margin-bottom: 30px;
    }

    .blog_list_right .home_blog_content {
        padding: 24px;
    }

    .blog_list_img img {
        border-radius: 12px;
        width: 100%;
        height: auto;
    }

    .contact_form_area {
        margin-bottom: 30px;
    }

    .contact_info_area {
        padding-left: 0px;
    }

    .faq_left {
        margin-bottom: 30px;
    }

    .team_details_img {
        margin-bottom: 30px;
    }

    .team_details_head h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .product_slider_wrapper {
        margin-bottom: 30px;
        margin-right: 40px;
    }

    .our_vision_wrapper {
        margin-top: 30px;
    }

    #common_banner {
        padding: 100px 0;
    }

    #counter_area {
        padding: 30px 0px 40px 0px;
    }

    #about_service_area {
        padding: 100px 0px 80px 0;
    }

    #footer-area {
        padding: 80px 0px 70px 0px;
    }

    #home_blog_area {
        padding: 80px 0px 70px 0px;
    }

    #why_choose_area {
        padding: 80px 0px 50px 0px;
    }

    #quote_area{
        padding: 80px 0px 70px 0px; 
    }

    #home_two_partner{
        padding: 70px 0;
    }

    #home_two_news_area {
        padding: 90px 0px 70px 0px;
    }

    #faq_area {
        padding: 90px 0px 70px 0px;
    }

    #home_two_testimonial_area{
        padding: 0 0 140px 0;
    }

    #about_area{
        padding: 80px 0 80px 0;
    }

    #work_process_area {
        padding: 90px 0px 70px 0px;
    }

    #our_team_area {
        padding: 80px 0;
    }

    #hone_two_pricing_area {
        padding: 80px 0;
        margin-bottom: 70px;
    }

    #pricing_page_area{
        padding-bottom: 20px;
        padding-top: 80px;
    }

    .checkout-area_bg {
        margin-bottom: 30px;
    }

    .banner-slide {
        padding: 100px 0 160px 0;
    }

    .team_details_social {
        padding-bottom: 0px;
    }
}

@media (max-width: 767px) {
    #banner_area .owl-theme .owl-dots {
        display: none;
    }

    .banner_slider_content h2 {
        font-size: 42px;
        line-height: 60px;
    }

    .banner_slider_content p {
        width: 100%;
    }

    .banner_slider_content h2 {
        padding: 10px 0 18px 0;
    }

    .background_bg {
        padding: 100px 0;
    }

    .long-img img {
        display: none;
    }

    .section_heading h2 {
        font-size: 30px;
        line-height: 42px;
    }

    .section_heading h5 {
        padding-bottom: 10px;
    }

    .banner_two_content_box p {
        width: 100%;
    }

    .single_footer_link {
        margin-bottom: 30px;
    }

    .services_details_content_wrapper h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .common_banner_inner h2 {
        font-size: 40px;
        line-height: 58px;
    }

    .projects_details_content_wrapper h3 {
        font-size: 28px;
        line-height: 42px;
    }

    .news_details_content_wrapper h3 {
        font-size: 30px;
        line-height: 44px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .news_details_img h5 {
        font-size: 18px;
    }

    .team_details_head h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .team_details_progress_area {
        padding-right: 0px;
    }

    .product_details_head h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .related_ptoduct_area h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .price_head h2 {
        font-size: 40px;
        line-height: 52px;
    }

    .quote_head h2 {
        font-size: 40px;
    }

    .home_two_heading_style h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .choose_icon {
        height: 60px;
        width: 60px;
    }

    .choose_icon i {
        font-size: 28px;
    }

    .choose_info {
        width: 80%;
    }

    .our_mission_content h3 {
        font-size: 30px;
        line-height: 42px;
    }

    #about_page_area .home_two_heading_style p {
        width: 90%;
    }

    .choose_info {
        width: 84%;
    }

    .banner_two_content_box h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .home_two_service_slider {
        padding: 12px 0;
    }

}

@media (max-width: 576px) {
    .banner_slider_content h2 {
        font-size: 30px;
        line-height: 48px;
    }

    .faq-text .accordion-item .accordion-header .accordion-button {
        font-size: 18px;
    }

    .copyright_right {
        display: none;
    }

    .home_two_news_content h4 {
        line-height: 22px;
        padding-bottom: 16px;
        font-size: 20px;
    }

    .comment_img {
        margin-bottom: 16px;
    }

    #about_page_area .home_two_heading_style p {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .about_exprience_area h3 {
        font-size: 42px;
    }

    .about_exprience_area {
        width: 200px;
    }

    .about-content-bottom {
        flex-wrap: wrap;
    }

    .list_content_box {
        width: 100%;
    }

    .about-content-list ul li {
        flex-wrap: wrap;
    }

    .banner_two_content_box h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .banner_two_btn_box {
        flex-wrap: wrap;
    }

    .about_list_wrapper {
        gap: 30px;
        flex-wrap: wrap;
    }

    .home_two_about_bottom {
        gap: 20px;
        padding-top: 30px;
        flex-wrap: wrap;
    }

    #home_two_service_area.slider_btn_style_two .owl-theme .owl-nav {
        left: 28%;
    }

    .testimonial-content-wrapper {
        padding-right: 0px;
    }

    .test_author_name h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .middle_page_item {
        display: none;
    }

    .about-content-list ul li {
        gap: 12px;
    }

    .product_menu li{
        margin-bottom: 12px;
       }

       .product_inner {
        padding-top: 28px;
    }

    .section_heading h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .home_two_heading_style h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .home_two_heading_style h5 {
        font-size: 18px;
        padding-bottom: 8px;
    }

    .section_heading h5 {
        padding-bottom: 7px;
    }

    .why_choose_single_item h4 {
        font-size: 20px;
        padding-bottom: 0px;
    }

    .quote_head h2 {
        font-size: 28px;
    }

    .quote_head {
        padding-bottom: 20px;
    }

    .quote_area_wrapper {
        padding: 30px 30px 60px 30px;
    }

    .our_mission_content h3 {
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 10px;
    }

    .services_details_content_wrapper h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .projects_details_content_wrapper h3 {
        font-size: 26px;
        line-height: 40px;
    }

    .popular_tag_wrapper h3 {
        font-size: 26px;
        line-height: 34px;
    }

    .news_details_content_wrapper h3 {
        font-size: 26px;
        line-height: 40px;
    }

    .team_details_head h3 {
        font-size: 26px;
        line-height: 40px;
    }

    .product_details_head h3 {
        font-size: 28px;
        line-height: 40px;
    }

    .related_ptoduct_area h3 {
        font-size: 28px;
        line-height: 30px;
    }

    .price_head h2 {
        font-size: 34px;
        line-height: 44px;
    }

    .check-heading h3 {
        font-size: 26px;
        padding-bottom: 14px;
    }

    .faq_head h3 {
        font-size: 28px;
        line-height: 36px;
    }

    #faq_page_area{
        padding: 50px 0px 70px 0px;
    }

    .error_content_wrapper h3 {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (max-width: 361px) {}