@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&amp;family=Poppins:wght@400;500;600;700&amp;family=Roboto:wght@400;500;700&amp;display=swap");



:root {
  --theme-color: #F68B21;
  --black-color: #212529;
  --paragraph-color: #5F6270;
  --transition: 0.3s all ease-in-out;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.mb-30 {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  outline: 0 !important;
  color: var(--theme-color);
  font-family: 'DM Sans', serif;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', serif;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
}

h3 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
}

/* --Common Style-- */

.section-padding {
  padding: 100px 0;
}

.section-padding-top {
  padding: 100px 0 0 0;
}

.section-padding-bottom {
  padding: 0 0 100px 0;
}

.form-control {
  height: 45px;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  background: #F6F6F6;
}

.form-control:focus {
  color: var(--black-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
  outline: none;
}

.theme-btn {
  background-color: var(--theme-color);
  color: #fff;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 11px 18px;
  border-radius: 5px;
  transition: 0.4s all ease-in-out;
}

.theme-btn:hover {
  box-shadow: inset -4.8em -2em 0 0 #181e33, inset 4.8em 2em 0 0 #181e33;
  color: #fff;
  border: 1px solid #181e33;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}


.btn-check:focus+.btn,
.btn:focus {
  outline: none;
  box-shadow: none
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: none;
  overflow: hidden;
  position: relative;
  z-index: 0;
}


.btn_md {
  padding: 10px 29px;
  font-size: 16px;
}

.btn_sm {
  font-size: 16px;
  padding: 5px 18px;
}

/* default style end */

/* ----------------------------
     Top To Bottom 
---------------------------------*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  color: #fff;
  background-color: #F68B21;
  z-index: 999;
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  border-radius: 50%;
}

.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
  transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.go-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #393953;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 50%;
}

.go-top:hover,
.go-top:focus {
  color: #fff;
}

.go-top:hover::before,
.go-top:focus::before {
  opacity: 1;
  visibility: visible;
}

/* preloader */

#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

#status{
  background-image: url("../img/icon/loader.gif");
  background-repeat: no-repeat;
  width: 550px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* banner */
#banner_area {
  position: relative;
}

.banner_shape {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 70%;
  height: auto;
  z-index: 1;
}


.background_bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}


.banner_slider_content h4 {
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

.banner_slider_content h4 span {
  color: var(--theme-color);
}

.banner_slider_content h2 {
  color: #fff;
  padding: 28px 0 35px 0;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: all 1400ms ease;
  -o-transition: all 1400ms ease;
  transition: all 1400ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

.banner_slider_content a {
  opacity: 0;
  -webkit-transition: all 1600ms ease;
  -o-transition: all 1600ms ease;
  transition: all 1600ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

.banner_slider_content p {
  color: #fff;
  padding-bottom: 40px;
  opacity: 0;
  -webkit-transition: all 1500ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  width: 85%;
}

#banner_area .active .banner_slider_content h4 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

#banner_area .active .banner_slider_content h2 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

#banner_area .active .banner_slider_content p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1600ms;
  -o-transition-delay: 1600ms;
  transition-delay: 1600ms;
}

#banner_area .active .banner_slider_content a {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1700ms;
  -o-transition-delay: 1700ms;
  transition-delay: 1700ms;
}

#banner_area .owl-theme .owl-dots {
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  margin: 0;
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#banner_area .owl-theme .owl-dots .owl-dot {
  position: relative;
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  border: 0px solid;
  margin: 5px 0px;
  padding: 0px;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#banner_area .owl-theme .owl-dots .owl-dot span {
  display: none;
}

#banner_area .owl-theme .owl-dots .owl-dot.active {
  width: 40px;
}

#banner_area .owl-theme .owl-dots .owl-dot:before {
  position: absolute;
  top: 0px;
  right: -10px;
  bottom: 0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
  background: #fff;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* about section */
#about_area .section_heading {
  padding-bottom: 30px;
}

.about-left_wrapper {
  position: relative;
  margin-right: 30px;
}

.about_exprience_area {
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 250px;
  position: absolute;
  top: 40%;
  left: 26%;
  border-radius: 8px;
}

.about_exprience_area p {
  color: #fff;
}

.about_exprience_area h3 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.about-img img {
  width: 100%;
  height: auto;
  transition: var(--transition);
}

.about_two_img {
  max-width: 400px;
  position: absolute;
  right: 30px;
  bottom: 120px;
}

.about_two_img img {
  width: 100%;
}

.section-heading-left h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 20px;
}

.sub-title.banner_title::before {
  background-color: var(--theme-color);
}

.sub-title.banner_title {
  padding: 6px 12px;
}

.about-content p {
  padding-bottom: 20px;
}

.about-content-list p {
  padding-bottom: 0;
}

.about-content-list ul li {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.icon-box i {
  font-size: 36px;
  color: #F68B21;
  transition: var(--transition);
}

.list_content_box {
  width: 70%;
}

.icon-box {
  background-color: rgba(246, 139, 33, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.icon-box:hover {
  background-color: var(--theme-color);
}


.list_content_box h4 {
  font-weight: 600;
}

.about-content-bottom {
  padding-top: 40px;
}

.img-box {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.about-content-bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author_text p {
  padding-bottom: 0;
  font-size: 14px;
}

.icon-box:hover i {
  transform: rotateY(180deg);
  color: #fff;
}

.list_content_box h4 {
  padding-bottom: 6px;
}

.list_box {
  background-color: #fff;
  padding: 16px 20px;
  border: 1px solid #F1F1F1;
  transition: var(--transition);
  border-radius: 8px;
}

.list_box:hover {
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  border: 1px solid transparent;
}

.our_mission_content h3{
  font-weight: 600;
  padding-bottom: 18px;
}
.our_mission_content p{
  padding-bottom: 24px;
}

/* service section */
.section_heading {
  padding-bottom: 36px;
}

.section_heading h5 {
  color: #F68B21;
  padding-bottom: 10px;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.section_heading h5::after {
  position: absolute;
  content: url(../img/icon/heading-style.png);
  right: -14px;
  top: -4px;
  width: 10px;
  height: 5px;
  z-index: 9;
}

.section_heading h5::before {
  position: absolute;
  content: url(../img/icon/heading-style.png);
  left: -22px;
  top: -6px;
  width: 10px;
  height: 5px;
  z-index: 9;
}

.section_heading h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

#service_area .section_heading h2 {
  color: #fff;
}

#service_area {
  background-image: url("../img/common/service-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service-img-area {
  position: relative;
  display: block;
}

.service-icon {
  position: absolute;
  bottom: -18px;
  right: 18px;
}

.service-icon img {
  transition: var(--transition);
}

.service_slider_item {
  background-color: #fff;
  position: relative;
}

.service_slider_item:hover .service-icon img {
  transform: translateY(5px);
}

.service-content {
  padding: 24px;
  border: 1px solid #F1F1F1;
}

.service_img img {
  border-radius: 8px;
}

.service-content h4 {
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 8px;
  border: 1px solid transparent;
}

.service-content h4 a {
  color: var(--black-color);
  font-weight: 600;
}

.service-content h4 a:hover {
  color: var(--theme-color);
}

.service-btn {
  padding-top: 24px;
}

.service-btn a {
  font-weight: 500;
}

.transparent_btn {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  border: 1px solid var(--theme-color);
  transition: var(--transition);
}

.transparent_btn:hover {
  box-shadow: inset -4.8em -2em 0 0 #F68B21, inset 4.8em 2em 0 0 #F68B21;
  color: #fff;
  border: 1px solid#F68B21;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  opacity: 1;
  display: block;
}

.slider_dote_style .owl-theme .owl-dots .owl-dot span::before {
  content: "";
  background-color: #fff;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider_dote_style .owl-theme .owl-dots .owl-dot.active span {
  background: transparent;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}

.slider_dote_style .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 30px;
}

.service-img-area .overly::before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}

.service_slider_item:hover .service-img-area .overly::before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.service_slider_item:hover .transparent_btn {
  box-shadow: inset -4.8em -2em 0 0 #F68B21, inset 4.8em 2em 0 0 #F68B21;
  color: #fff;
  border: 1px solid#F68B21;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

/* how we work section */
#work_process_area {
  background-image: url("../img/common/work-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.work_process_card {
  text-align: center;
  padding: 20px;
}

.work_icon_area {
  background-color: #fff;
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  height: 130px;
  width: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.work_icon_area i {
  font-size: 42px;
  padding-bottom: 12px;
  color: var(--theme-color);
  transition: var(--transition);
}

.work_icon_area p {
  color: var(--black-color);
  font-weight: 600;
  transition: var(--transition);
}


.work_content h4 {
  font-weight: 600;
  padding: 12px 0px 8px 0px;
}



.work_process_card:hover .work_icon_area {
  background-color: var(--theme-color);
}

.work_process_card:hover .work_icon_area i {
  color: #fff;
}

.work_process_card:hover .work_icon_area p {
  color: #fff;
}

.work_card_two {
  margin-top: 100px;
}

.work_process_inner {
  background-image: url(../img/common/work-bg-line.png);
  background-repeat: no-repeat;
  background-position: center 19px;
  background-size: 75%;
  width: 100%;
  height: 100%;
}

.work_shape {
  position: absolute;
  left: 14px;
  bottom: 10px;
  width: 300px;
  height: 200px;
}

.work_shape img {
  width: 100%;
  height: 100%;
  animation: zoomInOut2 10s linear infinite;
  -webkit-animation: zoomInOut2 10s linear infinite;
}

@-webkit-keyframes zoomInOut2 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}



/* FAQ section */
.faq-text {
  padding-right: 40px;
}

.faq-text .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--theme-color);
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.faq-text .accordion-item .accordion-header .accordion-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.faq-text .accordion-item .accordion-header .accordion-button:after {
  background-image: none;
  content: url(../img/icon/pluse.png);
  height: auto;
  width: auto;
  font-weight: 400;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.faq-text .accordion-item .accordion-header .accordion-button:not(.collapsed):after {
  background-image: none;
  content: url(../img/icon/minus.png);
  height: auto;
  width: auto;
  font-weight: 400;
}

.faq-text .accordion-item {
  border: none;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(15, 27, 36, 0.1);
  box-shadow: 0px 3px 15px 0px rgba(15, 27, 36, 0.1);
  margin-bottom: 16px;
}

.faq-text .accordion-body {
  padding-top: 0;
}

.faq_left {
  margin-right: 40px;
}

.faq-text .accordion-item .accordion-header {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.faq-text .accordion-item .accordion-header .accordion-button:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

#faq_area {
  position: relative;
}

#faq_area::after {
  position: absolute;
  right: 0;
  top: 80px;
  content: url(../img/common/acordian-bg.png);
  height: 80%;
  width: 60%;
  z-index: -1;
}

.faq-text .banner_title::before {
  background-color: var(--theme-color);
}

/* counter section */
.counter_item {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  padding: 30px;
}

.icon_box {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.icon_box i {
  font-size: 36px;
  color: #fff;
  transition: var(--transition);
}

.counter_text {
  padding-top: 8px;
}

.counter_text h2 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 8px;
}

.counter_text p {
  font-weight: 600;
}

#counter_area {
  padding: 30px 0px 100px 0px;
}

.counter_item:hover .icon_box i {
  transform: rotateY(180deg);
  ;
}

/* project section */

#project_area {
  padding-bottom: 70px;
}

.project-card-img img {
  width: 100%;
  height: auto;
}

.project-card-img {
  margin-bottom: 24px;
  position: relative;
  display: block;
}


.project-card-img .overly {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  z-index: 1;
}

.project-card-img .overly::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  opacity: 0.9;
  background: linear-gradient(180deg, rgba(246, 139, 33, 0.00) 23.67%, #F68B21 83.54%);
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transform-origin: bottom right;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  content: "";
  z-index: 1;
}

.project-card:hover .project-card-img .overly::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transform-origin: bottom center;
}

.project-card-img .overly .overlay-content {
  position: absolute;
  left: 30px;
  bottom: 26px;
  opacity: 0;
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index: 2;
}

.project-card:hover .project-card-img .overly .overlay-content {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.project-card-img .overlay-content h4 a {
  color: #fff;
}

.project-card-img .overlay-content p {
  color: #fff;
}

.project-card-img .overlay-content p a {
  color: #fff;
}

.overlay-content h6 {
  color: #fff;
}

/* team section */
#our_team_area {
  background-image: url("../img/common/team-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#our_team_area::after {
  position: absolute;
  content: " ";
  background-color: rgba(18, 18, 19, .8);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#our_team_area .section_heading {
  position: relative;
  z-index: 9;
}

#our_team_area .section_heading h2 {
  color: #fff;
}

.single_team_card {
  position: relative;
  overflow: hidden;
}

.team_overly {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  padding: 0px 41px 0 26px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: all ease-in-out .8s;
}

.team_overly::after {
  position: absolute;
  content: "";
  background-color: rgba(246, 139, 33, .80);
  height: 100%;
  width: 86%;
  left: -39px;
  top: 0;
  transform: skew(-12deg, 0deg);
  z-index: -1;
}

.single_team_card:hover .team_overly {
  left: 0;
}

.team-social ul {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 12px;
}

.team-social ul li {
  color: #fff;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social ul li a {
  color: #fff;
}

.team_overly h4 {
  color: #fff;
  font-weight: 600;
}

.team_overly p {
  color: #fff;
}

/* Blog section */
.home_blog_content {
  text-align: center;
}

.home_blog_card {
  border-radius: 12px;
  box-shadow: 4px 8px 14px #F1F1F1;
}

.home_blog_content {
  padding: 20px 20px 30px 20px;
}

.home_blog_content h4 {
  padding-bottom: 10px;

}

.home_blog_content h4 a {
  color: var(--black-color);
  font-weight: 600;
  transition: var(--transition);
}

.home_blog_content h4:hover a {
  color: var(--theme-color);
}

.home_blog_content h6 {
  padding-bottom: 13px;
}

.home_blog_img img {
  width: 100%;
  transition: var(--transition);
}

.home_blog_img {
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.home_blog_card:hover .home_blog_img img {
  transform: scale(1.1);
}

.home_blog_img {
  position: relative;
  display: block;
}

.home_blog_img .overly::before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}

.home_blog_card:hover .home_blog_img .overly::before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/* footer */
#footer-area{
  position: relative;
  background-image: url("../img/common/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#footer-area::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(18, 18, 19, .9);
}

.footer_inner_content{
  position: relative;
  z-index: 2;
}

.footer_about_content p{
color: #fff;
}

.footer_about_area .footer_logo{
  padding-bottom: 26px;
}

.footer_social_icon h5{
color: #fff;
padding-bottom: 20px;
}

.footer_social_icon{
  padding-top: 16px;
}
.footer_social_icon a{
  color: #FFFFFF;
  position: relative;
  z-index: 9;
  margin-right: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer_social_icon a::before{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F68B21;
  content: "";
  z-index: -1;
  padding: 16px;
  border-radius: 50%;
}
.footer_social_icon a i{
  font-size: 16px;
}

.single_footer_link h4{
  color: #fff;
  padding-bottom: 24px;
}

.footer_link_box ul li a{
  color: #fff;
  font-size: 16px;
}
.footer_link_box ul li{
 padding-bottom: 12px;
}

.single_footer_end {
  padding-right: 80px;
}

.footer_news_info h6{
color: #fff;
padding-top: 16px;
padding-bottom: 4px;
}

.single_footer_end h4{
color: #fff;
padding-bottom: 24px;
}

.footer_news_info p{
color: #fff;
}

.footer_subscribe_form{
  position: relative;
}

.footer_sub_btn{
  position: absolute;
  right: 0;
  top: 0;
}

.footer_subscribe_form .form-control{
height: 47px;
}

.single_footer_form{
  padding-top: 28px;
}


/* copyright area */
.copyright_area{
  padding: 16px 0;
  background-color: #000;
}

.copyright_left p{
  color: #fff;
}

.copyright_right ul{
  display: flex;
  align-items: center;
  justify-content: end;
}

.copyright_right ul li{
  padding-right: 30px;
}
.copyright_right ul li a{
  color: #fff;
}
.copyright_right ul li a:hover{
  color: #F68B21;
}















/*===================
 Homepage-2
====================*/
#banner-section-two .banner-slide {
  position: relative;
}

#banner-section-two .banner-slide:after {
  position: absolute;
  content: "";
  background: linear-gradient(60deg, rgba(40, 40, 40, 0.4), rgba(40, 40, 40, 0.8));
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner_two_content_box {
  position: relative;
  text-align: center;
  z-index: 9;
}

.banner_two_content_box h5 {
  font-size: 24px;
  font-weight: 700;
  color: var(--theme-color);
  text-transform: capitalize;
  padding-bottom: 16px;
  opacity: 0;
  -webkit-transition: all 1200ms ease;
  -o-transition: all 1200ms ease;
  transition: all 1200ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

#banner-section-two .active .banner_two_content_box h5 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner_two_content_box h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 16px;
  opacity: 0;
  -webkit-transition: all 1400ms ease;
  -o-transition: all 1400ms ease;
  transition: all 1400ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

#banner-section-two .active .banner_two_content_box h1 {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}



.banner_two_content_box p {
  color: #fff;
  width: 50%;
  margin: auto;
  padding-bottom: 40px;
  opacity: 0;
  -webkit-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  transition: all 1500ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

#banner-section-two .active .banner_two_content_box p {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1600ms;
  -o-transition-delay: 1600ms;
  transition-delay: 1600ms;
}


.banner_two_btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  opacity: 0;
  -webkit-transition: all 1600ms ease;
  -o-transition: all 1600ms ease;
  transition: all 1600ms ease;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

#banner-section-two .active .banner_two_btn_box {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1700ms;
  -o-transition-delay: 1700ms;
  transition-delay: 1700ms;
}

.banner_video_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.play_now {
  position: relative;
}

.play_now .btn_animation {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -webkit-animation: shadowStyle 3s infinite;
  animation: shadowStyle 3s infinite;
}

.play_now .btn_animation:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
  -webkit-animation: shadowStyle 3s infinite;
  animation: shadowStyle 3s infinite;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  content: "";
}

@keyframes shadowStyle {
  70% {
    -webkit-box-shadow: 0 0 0 50px transparent;
    box-shadow: 0 0 0 50px transparent;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}

.banner_two_btn_box .banner_video_btn .play_now i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  color: var(--theme-color);
  font-size: 12px;
  border-radius: 50%;
}

.banner-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 0;
  position: relative;
}

.banner_slide_one {
  background-image: url("../img/home-2/common/banner-1.jpg");
}

.banner_slide_two {
  background-image: url("../img/home-2/common/banner-2.jpg");
}

.banner_slide_three {
  background-image: url("../img/home-2/common/banner-3.jpg");
}

.banner_two_btn_box .play-now h6 {
  text-transform: uppercase;
  transition: var(--transition);
  font-weight: 600;
}

.banner_two_btn_box .play-now h6:hover {
  color: #fff;
}

.slider_btn_style_two .owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.slider_btn_style_two .owl-carousel .owl-nav button.owl-next,
.slider_btn_style_two .owl-carousel .owl-nav button.owl-prev {
  color: #fff;
  background: var(--theme-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 26px;
  transition: var(--transition);
}

.slider_btn_style_two .owl-theme .owl-nav [class*=owl-]:hover {
  background: var(--black-color);
}

.banner-slide::before {
  position: absolute;
  left: 37%;
  top: 23%;
  content: url(../img/home-2/common/banner-elements.png);
  z-index: 9;
  width: 50%;
}

/* home two service section */
#home_two_service_area {
  background-image: url("../img/home-2/common/service-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_two_service_slider_item {
  position: relative;
  background-color: #fff;
  box-shadow: 4px 8px 14px #F1F1F1;
  border-radius: 12px;
  margin: 20px 0;
}

.service_img_area_two img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: var(--transition);
}

.service_img_area_two {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.servic_icon_two {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 70px;
  color: #fff;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.servic_icon_two i {
  font-size: 30px;
}

.home_two_service_content {
  padding: 20px 20px 30px 20px;
}

.home_two_service_content h4 {
  padding-bottom: 10px;
}

.home_two_service_content h4 a {
  color: var(--black-color);
  font-weight: 700;
}

.service_img_area_two .overly::before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}

.home_two_service_slider_item:hover .service_img_area_two .overly::before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.home_two_service_slider_item:hover .service_img_area_two img {
  transform: scale(1.1);
}

.home_two_service_slider_item:hover .servic_icon_two {
  background-color: #fff;
  color: #F68B21;
}

.home_two_service_content h4:hover a {
  color: var(--theme-color);
}

.home_two_heading_style h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--theme-color);
  padding-bottom: 10px;
}

.home_two_heading_style h5 {
  position: relative;
  display: inline-block;
}

.home_two_heading_style h5::before {
  position: absolute;
  bottom: 10px;
  right: -33px;
  content: url(../img/icon/heading-2.png);
}

.home_two_heading_style h2 {
  line-height: 60px;
  font-weight: 600;
  padding-bottom: 10px;
}

#home_two_service_area.slider_btn_style_two .owl-theme .owl-nav {
  position: absolute;
  left: -38%;
  bottom: 40px;
  width: 200px;
}

/* About sectionn */
#Home_two_about_area {
  padding-bottom: 60px;
  position: relative;
}


.about_list_wrapper {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.about_info_list li i {
  color: var(--theme-color);
  margin-right: 4px;
}

.about_info_list li {
  padding-bottom: 8px;
}

#Home_two_about_area .home_two_heading_style p {
  width: 80%;
}

#about_page_area {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}
#about_page_area .home_two_heading_style p {
  width: 80%;
}



.author_img {
  border-radius: 50%;
  border: 3px solid var(--theme-color);
  overflow: hidden;
}

.home_two_about_bottom {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 30px;
}

.about_exprience_inner .exprience_year {
  background-color: var(--theme-color);
  color: #fff;
  height: 120px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about_exprience_inner .exprience_year h2 {
  font-weight: 700;
  line-height: 60px;
}

.about_exprience_inner .exprience_year p {
  color: #fff;
}

.about_exprience_inner .exprience_year::before {
  position: absolute;
  height: 30px;
  width: 30px;
  transform: rotate3d(1, 1, 1, 60deg);
  background-color: var(--theme-color);
  content: " ";
  bottom: -15px;
  left: 0;
}

.home_two_about_left_wrapper {
  position: relative;
}

.about_exprience_inner {
  position: absolute;
  top: 16%;
  left: 8%;
  animation: leftToRight 10s infinite;
}

@keyframes leftToRight {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* why choose us section */
#why_choose_area {
  background-image: url("../img/common/work-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.why_choose_inner_content{
  padding-top: 40px;
}

.why_choose_single_item{
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why_choose_single_item h4{
  font-weight: 600;
  padding-bottom: 4px;
}

.choose_icon{
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.choose_icon i{
  font-size: 36px;
  color: var(--theme-color);
  font-weight: 200;
  transition: var(--transition);
}

.choose_info{
  width: 75%;
}

.choose_icon:hover i{
  color: #fff;
  transform: translate(180deg);
}
.choose_icon:hover{
  background-color: var(--theme-color);
}



/* request a quote section */
.quote_head {
  text-align: center;
  padding-bottom: 30px;
}

.quote_head h2 {
  font-weight: 600;
  color: #fff;
}

.form-control {
  height: 60px;
  border: 1px solid transparent;
  font-size: 16px;
}

.selectmenu {
  height: 60px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
}

.form-control:focus {
  color: var(--black-color);
  background-color: #fff;
  border: 1px solid var(--theme-color);
  outline: none;
  box-shadow: none;
}

.select-box select:focus {
  background-color: #fff;
  border: 1px solid var(--theme-color);
  outline: none;
  box-shadow: none;
}

.quote_tag_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 8px;
}

.quote_area_wrapper {
  background-color: var(--theme-color);
  padding: 60px 30px;
}

.input-box {
  margin-bottom: 30px;
}

.single_tag_box .form-check label {
  color: #fff;
}

.form-check input:focus {
  outline: none;
  box-shadow: none;
}

.quote_center.quote-btn {
  text-align: center;
  padding-top: 36px;
}

.quote-btn .transparent_btn {
  display: block;
  align-items: center;
  padding: 16px 30px;
  border: 1px solid #fff;
  transition: var(--transition);
  background-color: #fff;
}

.quote-btn .transparent_btn:hover {
  box-shadow: inset -4.8em -2em 0 0 #181e33, inset 4.8em 2em 0 0 #181e33;
  color: #fff;
  border: 1px solid#181e33;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.faq-text .home_two_heading_style {
  padding-bottom: 40px;
}

/* pricing section */
#hone_two_pricing_area {
  background-image: url("../img/common/team-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hone_two_pricing_area::after {
  position: absolute;
  content: " ";
  background-color: rgba(18, 18, 19, .7);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.pricing-item {
  text-align: center;
  padding: 60px 30px;
  transition: var(--transition);
  background-color: #fff;
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
}

.pricing-list {
  padding-top: 30px;
}

.pricing-list li {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  transition: var(--transition);
  transition-delay: 0.1s;
  padding-bottom: 18px;
}

.pricing-list li i {
  color: var(--theme-color);
}

.price_head {
  padding-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
}
.price_head h4 {
  color: var(--theme-color);
  font-weight: 700;
}
.price_head h2{
  font-weight: 600;
  font-size: 48px;
}

.price_highlight .price_head h2{
  color: var(--theme-color);
}



.price_head sub {
  font-size: 16px;
  font-weight: 600;
}

.price_inner_content {
  padding-top: 40px;
}

.pricing-list {
  padding-bottom: 20px;
}

.pricing-item .transparent_btn {
  padding: 11px 18px;
}

.pricing-item .theme-btn:hover {
  box-shadow: inset -4.8em -2em 0 0 #fff, inset 4.8em 2em 0 0 #fff;
  color: var(--black-color);
  border: 1px solid var(--theme-color);
}

.pricing-item:hover{
  border: 2px solid var(--theme-color);
  transform: translateY(10px);
}

.price_highlight {
  border: 2px solid #F68B21;
}
/* .price_highlight.pricing-item::after {
  opacity: 0;
} */

#hone_two_pricing_area .home_two_heading_style{
position: relative;
z-index: 2;
}
#hone_two_pricing_area .home_two_heading_style h2{
color: #fff;
}

/* testimonial section */
.test_img_two{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.test_img_two img{
  width: auto !important;
}

.home_two_testi_item {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  padding: 30px 20px;
  margin-top: 30px;
}


.test_text_bottom_two{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.test_author_name h4{
font-weight: 600;
}

.test_author_rating h5{
  font-size: 16px;
}

.test_two_star {
  text-align: end;
}
.test_two_star i{
  font-size: 13px;
  color: var(--theme-color);
}

.testimonial-content-wrapper p{
  padding-top: 12px;
  padding-bottom: 16px;
}

.testimonial-content-wrapper{
  padding-right: 40px;
}

#home_two_testimonial_area.slider_btn_style_two .owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  left: -28%;
  bottom: 0px;
  width: 140px;
}


/* partner section */
.partner_slider_item img{
  width: 100%;
}

.partner_slider_item img {
  filter: invert(.5);
  transition: var(--transition);
}
.partner_slider_item:hover img {
  filter: invert(0);
}

.partner_slider_item{
  width: 150px;
  height: auto;
}

/* news and blog section */
#home_two_news_area{
  background-image: url("../img/home-2/common/news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#home_two_news_area::after{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
content: "";
background-color: rgba(24, 30, 51, 0.8);
}

#home_two_news_area .home_two_heading_style{
  position: relative;
  z-index: 2;
}
#home_two_news_area .home_two_heading_style h2{
  color: #fff;
}

.homr_two_blog_inner{
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.home_two_news_card{
  border: 1px solid #E6E6E6;
  border-radius: 12px;
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  background-color: #fff;
}
.home_two_news_img{
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.home_two_news_img img{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  transition: var(--transition);
}

.news_date_area{
  position: absolute;
  right: 30px;
  bottom: -40px;
  height: 80px;
  width: 80px;
  background-color: var(--theme-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 16px 40px 0px rgba(15, 27, 36, 0.1);
  border-radius: 4px;
}

.news_date_area h4{
font-weight: 600;
line-height: 24px;
}

.news_date_area h4 span{
font-size: 16px;
display: block;
}

.home_two_news_content{
  padding: 30px 20px;
}

.home_two_news_content h5{
  font-weight: 600;
  padding-bottom: 12px;
  font-size: 18px;
}
.home_two_news_content h4{
  line-height: 36px;
  padding-bottom: 16px;
}

.home_two_news_content h4 a{
  color: var(--black-color);
  font-weight: 700;
}

.home_two_news_content h4:hover a{
  color: var(--theme-color);
}

.home_two_news_img .overly::before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}

.home_two_news_card:hover .home_two_news_img .overly::before {
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

/*================================
 About page 
 ============================== */
 #common_banner{
  background-image: url("../img/common/common-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
 }

 #common_banner::after{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(190deg, rgba(18, 18, 19, 0.00) -20.25%, #121213 100%);
 }

 .common_banner_inner{
  position: relative;
  z-index: 2;
 }

 .common_banner_inner h2{
  font-weight: 700;
  color: #fff;
  padding-bottom: 6px;
 }
 .common_banner_inner .breadcrumb a{
  color: #fff;
 }
 .common_banner_inner .breadcrumb a:hover{
  color: var(--theme-color);
 }

 .common_banner_inner .breadcrumb .breadcrumb-item.active{
  color: var(--theme-color);
 }

 #common_banner .breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}


/* service section */
#about_service_area .section_heading h2 {
  color: #fff;
}

#about_service_area {
  background-image: url("../img/common/work-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_service_area .home_two_heading_style{
  padding-bottom: 40px;
}

/* ======================
 service page
 ======================= */

 #service_page .section_heading {
  padding-bottom: 30px;
}
 .service_page_btn{
  padding-top: 30px;
 }

/*========================
 service details page
 =========================== */

 .sevice_details_img{
  padding-bottom: 6px;
 }
 .services_details_content_wrapper h3{
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 16px;
 }
 .services_details_content_wrapper p{
  padding-bottom: 12px;
 }

 .Service_details_single_content .quate_area{
  background-color: #ffffff;
  border-right: 4px solid var(--theme-color2);
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
  color: #242323;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 40px 20px 50px;
  position: relative;
  margin-top: 10px;
 }

 .Service_details_single_content .quate_area i{
  position: absolute;
  top: 10px;
  color: #F68B21;
  left: 10px;
  font-size: 24px;
 }

 .Service_details_single_content .quate_area::after{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  content: "";
  background-color: var(--theme-color);
 }

 .service_details_flex_item{
  padding-top: 60px;
 }

 .service_details_flex_item img{
  width: 100%;
 }

 .sidebar_service_list_item {
  margin: 0;
}
.sidebar_service_list_item li {
  margin-top: 10px;
}
.sidebar_service_list_item li a {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  display: block;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 19px 40px;
}
.sidebar_service_list_item li a:hover {
  color: var(--theme-color);
}
.sidebar_service_list_item li a:hover i {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  background-color: var(--theme-color);
}
.sidebar_service_list_item li a i {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #191825;
  background-color: #fff;
  text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
  font-size: 16px;
  border-radius: 50%;
}
.sidebar_service_list_item li span a {
  color: var(--theme-color);
}
.sidebar_service_list_item li span a i {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  background-color: var(--theme-color);
}

.sevice_details_img{
  border-radius: 20px;
}
.sevice_details_img img{
  border-radius: 20px;
}

.sidebar_search_area{
  padding-bottom: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08), 8px 10px 24px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin-bottom: 30px;
}
.sidebar_search_form{
  position: relative;
}
.sidebar_search_form button{
  border: none;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.sidebar_search_form button i{
  font-size: 20px;
  transition: var(--transition);
}

.service_details_help{
  background-image: url("../img/home-2/service/service-s-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px 0;
  margin-top: 30px;
  position: relative;
}

.service_details_help::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(190deg, rgba(18, 18, 19, 0.00) -20.25%, #121213 100%);
  height: 98%;
  width: 100%;
  border-radius: 12px;
  margin: auto;
}

.help-contact{
  position: relative;
  z-index: 3;
  text-align: center;
}

.help-contact h3{
  font-weight: 700;
  color: #fff;
  padding-bottom: 20px;
}

.help-contact .help_icon_box{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #F68B21;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.help-contact .help_icon_box i{
  color: #fff;
  font-size: 30px;
  position: relative;
  z-index: 9;
}
.help-contact p{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 6px;
}

.help-contact a{
color: #fff;
}
/* .sidebar_search_form:hover button{
  background-color: var(--theme-color);
}
.sidebar_search_form:hover button i{
  background-color: #fff;
} */

.service_sidebar_download{
  margin-top: 30px;
}

.service_sidebar_download_btn .theme-btn{
  padding: 18px 40px;
}
.service_sidebar_download_btn .theme-btn span{
 font-size: 18px;
}
.service_sidebar_download_btn .theme-btn span i{
 font-size: 20px;
 margin-right: 20px;
}

/*===============================
 error page 
=================================*/
#error_area{
  padding: 50px 0px 100px 0px; 
}
.error_content_wrapper{
text-align: center;
}
.error_content_wrapper h3{
padding-bottom: 12px;
}
.error_content_wrapper p{
padding-bottom: 24px;
}

/*==============================
 project page 
 ======================*/
#project_page_area .home_two_heading_style{
padding-bottom: 40px;
}

.project_pagination{
padding-top: 20px;
}

.pagination_btn .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.pagination_btn .page-link {
  color: var(--black-color);
  font-size: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_btn .page-link:hover {
  z-index: 2;
  color: #fff;
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.page-link:focus {
  z-index: 3;
  color: var(--black-color);
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.project_pagination .pagination .page-link.active{
  z-index: 2;
  color: #fff;
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

/*======================================
 project details page 
 ====================================*/
 .project_details_item{
  text-align: center;
  border: 1pd solid #F1F1F1;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08), 8px 10px 24px rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 8px;
 }
 .project_details_item .project_details_icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: var(--transition);
 }
 .project_details_item .project_details_icon i{
 color: #fff;
 font-size: 20px;
 }

 .project_details_item h4{
  padding-top: 6px;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 20px;
 }
 .projects_details_content_wrapper .project_details_item p{
 padding: 0;
 }
 .project_details_item:hover .project_details_icon{
  transform: rotateY(180deg);
 }

 .projects_details_content_wrapper h3{
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 16px;
 }
 .projects_details_content_wrapper p{
 padding-bottom: 12px;
 }

 .project_details_img {
  padding-bottom: 6px;
}

.project_details_flex_area{
  padding-top: 12px;
  padding-bottom: 36px;
}

.project_details_pagination_wrapper{
  padding: 20px 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.previous, .next{
display: flex;
align-items: center;
gap: 12px;
}

.project_details_pagination_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination_icon i{
  border: 1px solid #DDDDDD;
  padding: 14px;
  border-radius: 50%;
  transition: 0.5s all ease-in-out;
}

.pagination_icon:hover a {
color: #fff;
}
.pagination_icon:hover i {
background-color: #F68B21;
color: #fff;
}

.middle_page_item{
  display: flex;
  align-items: center;
}

.project_details_demo{
  padding-top: 26px;
  padding-bottom: 32px;
}

.project-d-card{
  margin-bottom: 40px;
}

.Project_video_area{
  position: relative;
}
.Project_video_area img{
  border-radius: 12px;
  width: 100%;
}

.project_details_right_img{
  position: relative;
}
.project_details_right_img::after{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: linear-gradient(190deg, rgba(18, 18, 19, 0.00) -20.25%, #121213 100%);
  height: 100%;
  width: 100%;
  border-radius: 12px;
  margin: auto;
  z-index: 2;
}

.project_video_btn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.project_video_btn a i{
  color: #fff;
}

.popular_tag_wrapper{
  padding-bottom: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08), 8px 10px 24px rgba(0, 0, 0, 0.08);
  padding: 30px;
  margin-top: 30px;
}
.popular_tag_wrapper h3{
  font-weight: 600;
}

.popular_tags ul {
  padding-top: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.popular_tags ul li {
  background: #dddddd70;
  padding: 6px 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.popular_tags li a {
  color: var(--black-color);
}

/*============================
 news paqge
=================== */
.news_page_card{
  margin-bottom: 30px;
}

/*============================
 FAQ page 
=========================== */
.faq_head{
  padding-bottom: 30px;
}
.faq_head h3{
  font-weight: 600;
}

#faq_contact_form{
  background-color: #F6F6F6;
  margin-top: 40px;
  padding: 50px;
}

/*=============================
 price page
========================= */
.price_page_item{
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08), 8px 10px 24px rgba(0, 0, 0, 0.08);
}